footer.footer
  .container-flueid
    .row
      .col-sm-12
          p.text-right Copyright © 2015 Northfox All Rights Reserved.

script(src="lib/jquery/dist/jquery.min.js")
script(src="lib/bootstrap-sass/assets/javascripts/bootstrap.min.js")
script(src="js/common.js")
script(src="js/app.js")
