header.header
  .container-fluid
    .row
      .col-sm-12.text-center
        h1#top Base
          br
          small sub title
    .row
      .col-md-12
        nav
          ul.nav.navbar-nav
            li
              a.navbar-brand(href="#") Base
            li
              a(href="#")
                span.glyphicon.glyphicon-cloud
                |  About
